.nav-row-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline: 64px;
    gap: 16px;
}

.nav-btn{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 6px 12px 6px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.nav-btn:hover{
    filter: brightness(1.5);
    cursor: pointer;
}

.cancelar-modal {
    border-radius: 20px;
}

.cancelar-modal button.swal2-confirm {
    background-color: #CB4646;
}

.cancelar-btn{
    width: 80px;
}