.calculo{
    background-color: #E7E2E2;
    display: flex;
}

.content{
    margin-left: 220px;
    height: auto;
    width: 100%;
}

.tables-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 24px;
}

.calculo-table{
    width: 480px;
    padding-block: 16px;
    background: #A4A7AB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #2D3F51;
    font-weight: 500;
}

.calculo-title-row{
    width: 100%;
    background: #717A84;
    color: #E7E2E2;
    padding-block: 12px;
    text-align: center;
    margin-bottom: 12px;
}

.calculo-table-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.total-row{
    background: #2D3F51;
    color: #E7E2E2;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 12px;
    border-radius: 20px;
}

.total-row span{
    width: 120px;
    text-align: center;
}

.cost{
    color: #CB4646;
    background: #E7E2E2;
}