.table-container{
    display: flex;
    margin-top: 88px;
    width: 100%;
    flex-direction: column;
}

.table-lajes-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.table-lajes{
    width: 1000px;
    border-radius: 20px;
    margin-top: 48px;
    background: #717A84;
    color: #E7E2E2;
    overflow: hidden;
    display: table;
    border-collapse: collapse;
}

.row{
    height: 52px;
}

.table-header{
    background: #A4A7AB;
    color: #2D3F51;
}
