.table-container{
    display: flex;
    margin-top: 88px;
    width: 100%;
    flex-direction: column;
    margin-inline: 100px;
}

.table-lajes-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: #717A84;
    border-radius: 20px;
}

.table-lajes{
    width: 100%;
    color: #E7E2E2;
    overflow: hidden;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

.lajes-header-row{
    height: 68px;
}

.lajes-table-header{
    background: #A4A7AB;
    color: #2D3F51;
    font-size: 18px;
}
