.table-filter{
    display: flex;
    width:auto;
    height: 48px;
    padding-inline: 100px;
    justify-content: space-between;
}

.filter-button{
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 600;
    height: 40px;
    gap: 4px;
}

.filter-button.add:hover {
    cursor: pointer;
    background: #717A84;
}

.filter-button.filter:hover {
    cursor: pointer;
    color: #717A84;
    border-color: #717A84;
}

.filter-button.add{
    color: #E7E2E2;
    background: #2D3F51;
    width: 180px;
}

.filter-button.filter{
    color: #2D3F51;
    border: #2D3F51 solid 1px;
    fill: #2D3F51;
    width: 124px;
}

.add-icon{
    fill: #E7E2E2;
}

.filter-container {
    display: flex;
    gap: 24px;
}
