.resumo-table{
    width: 480px;
    padding-block: 16px;
    background: #A4A7AB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #2D3F51;
    font-weight: 500;
}

.resumo-title-row{
    width: 100%;
    background: #717A84;
    color: #E7E2E2;
    padding-block: 12px;
    text-align: center;
    margin-bottom: 12px;
}

.resumo-table-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.total{
    background: #2D3F51;
    color: #E7E2E2;
}