.title-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 48px;
    padding-block: 12px;
    font-size: 20px;
    font-weight: 600;
}

.btn{
    color: #fff;
}

.btn:hover{
    cursor: pointer;
    color: #E7E2E2;
}