.sidebar{
    height: 100vh;
    background: linear-gradient(#717A84, #40505F, #2C3E50);
    width: fit-content;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    padding-inline: 24px;
}

.logo-container{
    background: none;
    width: fit-content;
    height: fit-content;
    padding-block: 48px;
    color: #E7E2E2;
}

.sidebar-btn{
    justify-content: baseline;
    height: 48px;
    width:max-content;
    background: none;
    border: none;
    font-size: 16px;
    color: #E7E2E2;
    gap: 8px;
}

.sidebar-btn:hover, a:hover{
    cursor: pointer;
    color: #A4A7AB;
}

.sidebar-icon:hover{
    fill:#A4A7AB;
}
