.row{
    height: 48px;
    display: grid;
    grid-template-columns: 10% 10% 20% 12.5% 12.5% 12.5% 12.5% 10%;
    justify-items: center;
    align-items: center;
    background: #E7E2E2;
    color: #2D3F51;
    margin-inline: 10px;
    margin-block: 8px;
    border-radius: 20px;
    font-weight: 600;
}

.item-id {
    color: #2D3F51;
}

.row input {
    background: none;
    border: none;
    height:100%;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.select-lajes-container select {
    height: 100%;
    border-radius: 20px;
    appearance: none;
    font-size: 14px;
    padding-inline: 0;  /* Remove o padding lateral para centralizar */
    border: none;
    background: none;
    text-align: center;  /* Alinha o texto horizontalmente */
    text-indent: 0;      /* Remove indentação */
}

.select-lajes-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 100%;
}

.select-lajes-container select:focus {
    outline: none; 
}


.row input:focus {
    outline: none;
}

.row input:focus::placeholder {
    color: transparent;
}

.header-row{
    background: #717A84;
    color: #fff;
    margin-inline: 0px;
    border-radius: 0px;
}

.delete-btn{
    color: #2D3F51;
}

.delete-btn:hover{
    color: #fff;
    cursor: pointer;
}



